

.section{
    margin-bottom: 20px;
}

.section h3{
   margin-bottom: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}




body::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  @media only screen and (max-width: 600px)
  {
   .section p{
     font-size: 13px;
   }


body::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  }
