body::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  @media only screen and (max-width: 600px)
 {
  .short{
    font-size: 13px;
  }

  .items p{
    font-size: 13px;
  }

  .items h3{
    font-size: 20px;
  }

 }
