.cform {
    text-align: center;
}

input,
textarea {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background-color: transparent;
    color: silver;
    width: 60%;
    font-size: 1.5em;
    padding: 5px 0; /* Added padding to input fields */
    margin-bottom: 20px; /* Added margin between form elements */
}

input[type="submit"] {
    width: 60%;
    height: 3em;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 10px 0 0;
}
@media only screen and (max-width: 600px)
 {

  input,
  textarea {
    font-size: 17px;
  }


 }
