
.items h3 a[href="http://paulgraham.com/articles.html"],
.items h3 a[href="https://www.undistracted.app/"] {
    font-size: inherit; /* or set a specific font size like 'font-size: 18px;' */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


  @media only screen and (max-width: 600px)
 {

  .item p{
    font-size: 13px;
  }

     body::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


 }
