* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    overflow: hidden;

}

.heading h1 {
    font-size: 200px ;
    margin-bottom: 10px;
    margin-top: 300px;
    color: white;
    background:0;

    text-shadow: 10px;
    animation: fadeIn 3s;


}

.tag p {
    font-size: 70px;
    text-align: center;
    color: silver;
}




.core {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.left,
.right {
    flex: 1;
    box-sizing: border-box; /* Ensure padding doesn't add to width */
    /* Add padding as needed */
   overflow: auto;
}

.left p{

    font-size: 45px;
    text-align: left;
    padding: 35px;
    padding-left: 0;
    height: auto;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right img {

    margin-top: 10px;
    width: 100%;
    height: auto;
}


section {
    height: 70vh;

}

    .container{

        margin-top: 2px;
        overflow-y: auto;
        height: 100vh;
        padding: 20px;
    }






    .tag {
        position: relative;
        display: inline-block;
        font-size: 70px;
    }


    @keyframes cursor-blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    #typing-cursor {

        display: inline-block;
        width: 3px;
        height: 70px;
        background-color: silver;
        position:absolute;
        animation: caret-blink 0.8s infinite;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 5px;
        animation: cursor-blink 0.8s infinite;
    }




/* This is for the footer, section makes it have like different pages effect and also screws up the footer , so just make it part of section as well. This is section with class three.*/
.three {

    margin-top: 900px;
    height: 10vh
}

.two{


}
@media only screen and (max-width: 600px)
  {

    .heading h1 {
        font-size: 80px ;
        margin-top: 350;
        margin-bottom: 0;
    }

    .tag p {
        font-size: 21px;

    }

    .left p{

        font-size: 20px;
        padding: 5px;
    }

    .right img {
        margin-top: 0; /* Reset margin-top */
        margin-bottom: 380px; /* Add margin-bottom to separate the image */
    }

    .three{
        margin-top: 200px;
    }

    .two{
        margin-top: 0;
    }


  }
