

body {
    text-align: center;

}

.heading h1 {
    font-size: 200px ;
    margin-bottom: 10px;
    margin-top: 300px;
    color: white;
    background:0;

    text-shadow: 10px;
    animation: fadeIn 3s;
}

.tag p {
    font-size: 70px;
    text-align: center;
    color: silver;
}


.main {
    display: flex;
    width: 100%;

}

.left,
.right {
    flex: 1;
}

.left p{

    font-size: 45px;
    text-align: left;
    padding: 35px;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right img {

    margin-top: 10px;
    width: 100%;
    height: auto;
}

* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


section {
    height: 70vh;

}

footer {
    background-color: #111;
}

.footer {
    width: 100%;
    padding: 70px, 30px, 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;body {
        text-align: center;

    }

    .heading h1 {
        font-size: 200px ;
        margin-bottom: 10px;
        margin-top: 300px;
        color: white;
        background:0;

        text-shadow: 10px;
        animation: fadeIn 3s;
    }

    .tag p {
        font-size: 70px;
        text-align: center;
        color: silver;
    }


    .main {
        display: flex;
        width: 100%;

    }

    .left,
    .right {
        flex: 1;
    }

    .left p{

        font-size: 45px;
        text-align: left;
        padding: 35px;
    }

    .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .right img {
        width: 100%;
        height: auto;
    }

    * {
        font-family: sans-serif;
    }


    section {
        height: 70vh;

    }


    .footer {

        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f0f0f0;
        padding: 10px 0;
        text-align: center;
    }

    .footer .social-icons a {
        margin: 0 10px;
        color: #333;
        font-size: 24px;
    }


    .container{

        margin-top: 2px;
        overflow-y: auto;
        height: 100vh;
        padding: 20px;
    }

    .one {
        margin-top: 0;
    }


    .tag {
        position: relative;
        display: inline-block;
        font-size: 70px;
    }

    #typing-cursor {
        display: inline-block;
        margin-left: 5px;
        animation: cursor-blink 0.8s infinite;
    }

    @keyframes cursor-blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    #typing-cursor {

        display: inline-block;
        width: 3px;
        height: 70px;
        background-color: silver;
        position:absolute;
        animation: caret-blink 0.8s infinite;
        top: 50%;
        transform: translateY(-50%);
    }

    @keyframes caret-blink {

        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }




    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}


.container{

    margin-top: 2px;
    overflow-y: auto;
    height: 100vh;
    padding: 20px;
}

.one {
    margin-top: 0;
}


.tag {
    position: relative;
    display: inline-block;
    font-size: 70px;
}

#typing-cursor {
    display: inline-block;
    margin-left: 5px;
    animation: cursor-blink 0.8s infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#typing-cursor {

    display: inline-block;
    width: 3px;
    height: 70px;
    background-color: silver;
    position:absolute;
    animation: caret-blink 0.8s infinite;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes caret-blink {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
