/* project.css */



*{
    font-family: sans-serif;
}

h1{
    font-size: 70px;
}

.content-section{
    font-size: 20px;

}

.des{
    font-size: 25px;
    margin-bottom: 100px
}

.main{
    margin-top: 2px;
    overflow-y: auto;
    height: 100vh;
    width: 50%;
    padding: 20px;
}
